<script type="text/javascript">
$(document).ready(function(){
    $("#form_id").validationEngine();
});
</script>


<h3 class="titulo">Datos Bancarios de cobro</h3>
     <div class="hero-unit">
<%= simple_form_for @precontrato, :url => wizard_path, :method => :put, :html => { :class => 'form-vertical', :id => "form_id" }  do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
  	
    <div class="row">
		<div class="span3">
			<h4>Titular de la cuenta</h4>
		</div>
	</div>  	
  	<div class="row">
	  	<div class="span2">
	    	<%= f.input :banco_nombre, placeholder: 'Nombre', :label=>"Nombre", :input_html => { :class => 'span2 validate[required]',  value: @precontrato.cliente_nombre} %>
	    </div>
	    <div class="span2">
	    	<%= f.input :banco_apellido1, placeholder: 'Primer Apellido', :label=>"Primer Apellido", :input_html => { :class => 'span2 validate[required]',  value: @precontrato.cliente_apellido1}  %>
	    </div>
	    <div class="span2">
	    	<%= f.input :banco_apellido2, placeholder: 'Segundo Apellido', :label=>"Segundo Apellido", :input_html => { :class => 'span2 validate[required]',  value: @precontrato.cliente_apellido2}  %>
	    </div>
    </div>
  	<div class="row">
	  	<div class="span2">
	    	<%= f.input :banco_nif, placeholder: 'NIF, CIF, NIE', :label=>"NIF, CIF, NIE" , :input_html => { :class => 'span2 validate[required,validate[required,funcCall[checkIDS]]',  value: @precontrato.cliente_nifniecif} %>
	    </div>

    </div>
    <div class="row">
		<div class="span3">
			<h4>Datos de la cuenta</h4>
		</div>
	</div>  
	 <div class="row">
	  	<div class="span3">
	    	<%= f.input :banco_cuenta, placeholder: 'Número de Cuenta', :label=>"Número de Cuenta Bancaria", :input_html => { :class => 'span3 validate[required,funcCall[validaCCC]]'} %>
	    </div>
    </div>	 
</div>
      
</div>
      <!-- Main hero unit for a primary marketing message or call to action
      -->
      <!-- Example row of columns -->
	<p>
    <%= link_to '<< Anterior',  previous_wizard_path, class:"btn-primary btn" %> <%= f.submit "Siguiente paso >>", class:"btn-primary btn"%>
  </p>
<% end %>
      <div class="row">
        <div class="span4">
          <h2>
            Sin papel
          </h2>
          <p>
            En Yelou no utilizamos papel, contratación, facturación y todos los procesos son electrónicos y por internet.
          </p>
        </div>
        <div class="span4">
          <h2>
            Contratación
          </h2>
          <p>
            El proceso de contratación lo puedes realizar todo seguido o en varias fases, ya que tus datos se guardarán, así como tus documentos para que puedas retomar el proceso en cualquier momento&nbsp;
          </p>
        </div>
        <div class="span4">
          <h2>
            Contacto
          </h2>
          <p>
            Para ofrecerte el mejor servicio de atención al cliente, podrás contactar con nosotros por teléfono y a través de tu cuenta de cliente .
          </p>
        </div>
      </div>
      <hr>
      <footer>

      </footer>

    <script>
      // $('#phone-input').formatter({
      //   'pattern': '({{999}}) {{999}}.{{9999}}',
      //   'persistent': true
      // });
      // $('#credit-input').formatter({
      //   'pattern': '{{9999}}-{{9999}}-{{9999}}-{{9999}}'
      // });
      var Cuenta = document.getElementById('precontrato_banco_cuenta');
      if (Cuenta) {
        new Formatter(Cuenta, {
            'pattern': '{{9999}}-{{9999}}-{{99}}-{{9999999999}}',
            'persistent': false
        });
      }
    </script>
